		#main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#f6f6f6;}
        #header { text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 0px 0; }
        fieldset { border:none;/*width:300px;*/margin-top:10px;}
        legend { font-size:18px; margin:0px; padding:10px 0px;  font-weight:bold;}
        input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
        .prev, .next { background-color:#F7F7F7;border:solid 1px #CCCCCC; padding:5px 10px;font-weight:bold; color:#fff; text-decoration:none;}
        .prev:hover, .next:hover { text-decoration:none;}
        .prev { float:left;margin-left:75%;margin-bottom:90%;}
        .next { float:right;margin-right:10%}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px;padding-right:65px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}
        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
        #makeWizard:hover { background-color:#000;}