/*

-----------------------------
ForestCP | Administration
-----------------------------
A theme by Philo Hermans
Available at ThemeForest
-----------------------------
http://www.philohermans.com
http://forum.philohermans.com
-----------------------------

*/

/* Import Stylesheets */
@import url(reset.css);
@import url(superfish.css);
@import url(smoothness/jquery-ui.css);
@import url(jquery.wysiwyg.css);

/* Core Styling */
body{
	font: 11px "Trebuchet MS";
}

/* Header */
#header{
	background: url(../img/header/header_bg.jpg) repeat-x;
	height: 85px;
	border-bottom: 1px solid #FFF;
	min-width: 700px;
}

	#header .logo{
		padding-left: 30px;
		padding-top: 30px;
		float: left;
		width: 300px;
	}
	
	#header .info{
		color: #FFF;
		float: right;
		width: 300px;
		margin-top: 15px;
		margin-right: 25px;
	}
		#header .info div{
			float: right;
			width: auto;
		}
		
		#header .info h2{
			font-size: 19px;
		}
		
		#header .info h2 span{
			color: #a2cb46;
		}
		
		#header .info small{
			display: block;
			margin: 2px 0 2px;
		}
		
		#header .info a{
			color: #c9d8a8;
			text-decoration: underline;
		}

/* Navigation */
#top_nav{
	background: url(../img/top_nav/green/bg.jpg) repeat-x;
	height: 35px;
	padding: 5px;
	padding-left: 25px;
	min-width: 500px;
}

/* Wrap */
#wrap {
	float: left; 
	width: 100%;
}

	#wrap.fixed{
		width: 1024px;
		margin: 0 auto;
		float: none;
	}
	
	#wrap.login{
		width: 400px;
		margin: 0 auto;
		float: none;
		margin-top: 50px;
	}
	
		#wrap.login #content{
				float: none;
				min-width: 0px; 
				margin-right: 0px;
				width: auto;
		}
		
		#wrap.login #content .box{
			width: auto;
		}
		
		#wrap.login #content .box.left {
		  float:left;
		  width: 48%;
		}
		
		#wrap.login #content .box.right {
		  float:right;
          width: 48%;
		}
		
		#wrap.login #content .inner {
			margin-right: 0px; 
			margin-left: 0px;
		}
	

/* Content */
#content {
	float: left; 
	width: 100%; 
	min-width: 500px; 
	margin-right: -265px;
}

	#content a:link,
	#content a:visited{
		color: #799a1d;
		text-decoration: none;
	}
	
	#content a:hover{
		color: #000;
	}

	#content .inner {
		margin-right: 300px; 
		margin-left: 30px;
	}
	
        #content .inner-report {
		margin-right: 30px; 
		margin-left: 30px;
	}
        
	#content .box,
	#sidebar .box{
		background: #f4f4f4;
		border: 1px solid #e5e2e2;
		border-top: 0;
		margin-bottom: 15px;
	}
	
		#content .title{
			background: url(../img/content/title_bg.jpg) repeat-x;
			height: 45px;
		}
			#content .title h3,
			#sidebar .title h3{
				color: #FFF;
				font-size: 11px;
				font-weight: bold;
				padding-top: 15px;
				padding-left: 15px;
				float: left;
				width: auto;
			}
			
			#content .title.collapsed{
				margin-bottom: 10px;
			}
		#content .box .txt,
		#sidebar .box .txt{
			border: 1px solid #FFF;
			padding: 10px;		
		}
		
		#content .box .txt p{
			margin-bottom: 10px;
		}

	#content .icon_list{
		margin-top: 10px;
	}
	
	#content .icon_list li{
		background: #FFF;
		border: 1px solid #e5e2e2;
		width: 80px;
		height: 60px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-align: center;
		padding: 10px;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}
	
	#content .icon_list.wide li {
       width: 80px;
    }
    
    
	
		#content .icon_list li:hover{
			background: #FFF url(../img/global/icon_holder_bg.jpg) repeat-x bottom;
		}
		
		#content .icon_list li a{
			display: block;
			font-size: 11px;
			color: #727272;
			text-decoration: none;
		}
		
		#content .icon_list li a:hover{
			color: #000;
		}
		      #content .icon_list li span.large_text {
            font-size: 150%;
            display:block;
            padding-bottom: 15px;
        }
	
	/* Table */
	#content table{
		width: 100%;
		border: 0;
	}
		#content table thead th{
			font-weight: bold;
			text-align: left;
			background: #FFF;
			border-bottom: 1px solid #e5e2e2;
		}
		
		#content table tbody{
			border-bottom: 1px solid #e5e2e2;
		}
		
		#content table tbody tr td{
			background: #FFF;
		}
		#content table.cke_editor tbody tr td{
            background: none repeat scroll 0 0 transparent;
        }
        
		#content table thead th,
		#content table tbody tr td{
			padding: 10px;
		}
		
		#content table tbody tr td.alt{
			background: transparent;
		}
		
	/* Tabs */
	#content .selector{
		float: right;
		margin-top: 17px;
		margin-right: 10px;
		width: auto;
	}
	
	#content .selector a:link,
	#content .selector a:visited,
	#content .selector a:visited{
		text-decoration: none;
		color: #FFF;
		margin-left: 5px;
	}
	
	#content .selector a.active{
		background: #FFF;
		color: #000;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 5px;
	}
	
	/* Form */
	#content form p {
		margin-bottom: 20px;
	}
	form label{
		display: block;
		margin: 5px;
		font-weight: bold;
		margin-left: 0;
		color: #444444;
	}
	
	form small{
		display: block;
		padding: 5px;
		padding-left: 0;
		color: #737373;
	}
	
	.txt-input,
	.select-input,
	.textarea-input{
		font: 11px "Trebuchet MS";
		background: #FFF;
		color: #5e5e5e;
		border: 1px solid #e5e2e2;
		padding: 5px;
		font-size: 11px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-bottom: 5px;
	}
	
	/*.txt-input.small, .select-input.small, .textarea-input.small{	width: 50%;	}*/
	.txt-input.medium, .select-input.medium, .textarea-input.medium{	width: 70%;	}
	.txt-input.large, .select-input.large, .textarea-input.large{	width: 90%;	}
	
	.button,
	.reset{
		background: #a2cb47;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 5px;
		padding-right: 15px;
		padding-left: 15px;
		color: #FFF;
		margin-right: 5px;
	}
	
	.reset{
		background: #a5a5a5;
	}
	
	.remember{
		float: right;
		padding: 5px;
		width: auto;
	}

/* Sidebar */

#sidebar {
	float: left; 
	width: 242px; 
	padding-right: 20px;
}
		
	#sidebar .title{
		background: url(../img/sidebar/title_bg.jpg) no-repeat;
		width: 242px;
		height: 45px;
		cursor: move;
	}
	#sidebar ul{
		margin-top: 5px;
	}
	
		#sidebar ul li{
			background: url(../img/global/green_dot.jpg) no-repeat;
			padding-left: 15px;
			margin-bottom: 10px;
			margin-top: 10px;
		}
	
	#sidebar ul.todo li{
		background: url(../img/global/green_dot.jpg) no-repeat top left;
		padding-left: 15px;
		margin-bottom: 15px;
	}
	
		#sidebar ul.todo li a{
			text-decoration: none;
		}
		
		#sidebar ul.todo li p{
			color: #7d7d7d;
			font-size: 9px;
			margin-top: 5px;
		}
		
		#sidebar ul.todo li ul.links li{
			display: inline;
			background: url(../img/global/link_arrow.jpg) no-repeat;
			padding-left: 11px;
		}
		
			#sidebar ul.todo li ul.links li a{
				font-size: 9px;
				color: #a2cb47;
				font-weight: bold;
			}
	#sidebar #datepicker{
		width: 215px;
		margin: 0 auto;
	}
	
/* Notifications */
#content .message{
	background: #fefbcc;
	border: 1px solid #e6db55;
	padding: 15px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	margin-bottom: 10px;
}

#content .message h3{
	font-size: 16px;
	font-weight: bold;
}

#content .message p{
	color: #4d4d4d;
}

#content .message a{
	color: #000;
	text-decoration: underline;
}

#content .message.warning{
	background: #fefbcc url(../img/global/icons/warning.png) no-repeat left;
	background-position: 10px;
}

#content .message.info{
	background: #d9e4ff url(../img/global/icons/info.png) no-repeat left;
	background-position: 10px;
	border: 1px solid #8dacf7;
}

#content .message.error{
	background: #ffcfcd url(../img/global/icons/delete.png) no-repeat left;
	background-position: 10px;
	border: 1px solid #e2918d;
}

#content .message.success{
	background: #d4fccd url(../img/global/icons/add.png) no-repeat left;
	background-position: 10px;
	border: 1px solid #99dc8d;
}

#content .message.warning p,
#content .message.info p,
#content .message.error p,
#content .message.success p{
	margin: 0;
	margin-left: 18px;
}
.stats_wrapper{
   width:32%;float:left;margin: 5px;
}
.stats_wrapper_long{
   float:left;margin: 5px;
   width:100%;
}
.stats_list{}
.stats_list tr{
    height:10px;
    }
   .stats_list td{
        height:10px;
        font-size:12px;
}


/** tags **/
ul.tags {
	overflow:auto;
}

ul.tags li {
	float:left;
	padding:5px 10px;
	margin: 5px;
	background: #2F4264;
	color:#fff;
	border-radius:3px;
	cursor:pointer;
}

.div_single_row {
    float: left;
    height: auto;
    width: 99%;
}

.div_space {
    float: left;
    height: 10px;
    width: 99%;
}

.show-only{
    list-style-type: circle;margin-left: 124px; margin-bottom: 10px;
}

#build li.title {
	color: #FFFFFF;
    height: 12px;
    margin: 10px 0 5px;
    padding: 6px;
}

.padding-appstores{
    padding: 10px !important;
}