#sb-title-inner#sb-info-inner,#sb-loading-inner,div.sb-message {
font-family: "Tahoma", HelveticaNeue-Light,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:200;
color:#fff;
}

#sb-container {
position:fixed;
top:0;
left:0;
z-index:999;
text-align:left;
visibility:hidden;
display:none;
margin:0;
padding:0;

}

#sb-overlay {
position:relative;
height:100%;
width:100%;
background: #777777 !important;
opacity : 0.7 !important;
}

#sb-wrapper {
position:absolute;
visibility:hidden;
width:100px;
}

#sb-wrapper-inner {
position:relative;
/*border:1px solid #303030;*/
overflow:hidden;
height:100px;

    background: #fff;
    border: 1px solid #f1f1f1;	
    border-radius: 10px;   
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
-webkit-box-shadow: 0px 1px 10px rgba(50, 50, 50, 0.85);
-moz-box-shadow:    0px 1px 10px rgba(50, 50, 50, 0.85);
box-shadow:         0px 1px 10px rgba(50, 50, 50, 0.85);
}

#sb-body-inner {
position:absolute;
height:100%;
width:100%;
}

#sb-player.html {
height:100%;
overflow:auto;
}

#sb-body img {
border:none;
}

#sb-loading-inner {
position:absolute;
font-size:14px;
line-height:34px;
height:34px;
top:50%;
margin-top:-12px;
width:100%;
text-align:center;
}

#sb-loading-inner span {
background:url(loading.gif) no-repeat;
padding-left:34px;
display:inline-block;
}

#sb-body,#sb-loading {
position:relative;
height:100%;
}

#sb-title {
position:relative;
overflow:hidden;
margin:0;
padding:0;
}

#sb-info {
position:relative;
overflow:hidden;
margin:0;
padding:0;
position: absolute;
top: 30px;
right: 10px;
}


#sb-title,#sb-title-inner {
height:26px;
line-height:26px;
}

#sb-title-inner {
font-size:16px;
display:none;
}

#sb-info,#sb-info-inner {
height:23px;
line-height:22px;
}

#sb-info-inner {
font-size:11px;
}

#sb-nav {
float:right;
height:16px;
width:45%;
padding:2px 0;
}

#sb-nav a {
display:block;
float:right;
height:23px;
width:22px;
margin-left:3px;
cursor:pointer;
background-repeat:no-repeat;
}

#sb-nav-close {
background-image:url(close.png);
}

#sb-nav-next {
background-image:url(next.png);
}

#sb-nav-previous {
background-image:url(previous.png);
}

#sb-nav-play {
background-image:url(play.png);
}

#sb-nav-pause {
background-image:url(pause.png);
}

#sb-counter {
float:left;
width:45%;
}

#sb-counter a {
text-decoration:none;
cursor:pointer;
color:#fff;
padding:0 4px 0 0;
}

#sb-counter a.sb-counter-current {
text-decoration:underline;
}

div.sb-message {
font-size:12px;
text-align:center;
padding:10px;
}

div.sb-message a:link,div.sb-message a:visited {
color:#fff;
text-decoration:underline;
}

.ui-widget-content{
    border: none !important;
}